@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
	font-family: "RymanEco";
	src: url("/RymanEco-Regular.otf");
}

* {
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact !important;
}

html {
	font-family: sans-serif;
}

@media print {
	html {
	font-family: RymanEco sans-serif;
	}
}

@media screen {
	html {
		background-color: rgb(247, 247, 247);
	}

	.sheet {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		padding: 32px;
		background-color: white;
	}
}
